<router-outlet></router-outlet>
<h1>Exercício 1:</h1>
<app-contador-component></app-contador-component>
<br><br>
<h1>Exercício 2 e 3:</h1>
<app-list-items></app-list-items>
<br><br>
<h1>Exercício 4:</h1>
<app-form-cadastro></app-form-cadastro>
<br><br>
<h1>Exercício 5:</h1>
<app-controle-acesso></app-controle-acesso>
<br><br>
<h1>Exercício 6:</h1>
<app-componente-pai></app-componente-pai>
<br><br>
<h1>Exercício 7:</h1>
<app-form-login></app-form-login>
<br><br>
<h1>Exercício 8:</h1>
<app-dados-alunos></app-dados-alunos>
